.bg-consul {
    background: url("../img/consul.png") center / cover no-repeat;
}

body {
    background: #e5e5e5;
}
.text-break-modal {
    font-weight: 200;
    font-size: 15px;
    font-family: Roboto, sans-serif;
}
.modal-title {
    font-weight: 700;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}
.sort {
    color: rgb(33, 37, 41);
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 200;
}
.cardbody-sub-text {
    color: rgb(33, 37, 41);
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}
.card-header-sub {
    background-color: rgba(229, 229, 229, 0);
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.125);
}

.title-section {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.jum {
    background: url("assets/img/Rectangle%20204.png");
}

.jum-sub {
    font-family: Roboto, sans-serif;
    text-align: left;
}

.highlight {
    padding: 10px 15px;
    font-weight: 900;
}

.high-sub {
    font-weight: 700;
}

#fastrespon {
    font-family: Roboto, sans-serif;
    text-align: left;
}

#about {
    text-align: justify;
    font-weight: 200;
    font-family: Roboto, sans-serif;
}

#cg {
    border-color: rgba(33, 37, 41, 0);
    border-right-color: rgba(33, 37, 41, 0);
}

.form-control {
    background: rgba(255, 255, 255, 0);
}

.btn-submit {
    font-weight: 700;
    margin-left: 15px;
    padding: 13px;
    padding-top: 13px;
    padding-right: 30px;
    padding-left: 30px;
    background: rgb(229, 229, 229);
}

#card {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

#cb {
    border-right-color: rgba(33, 37, 41, 0);
}

#ct {
    font-weight: 700;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

#ctext {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 16px;
}

#get-free {
    font-weight: 400;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#cporto {
    background: rgb(229, 229, 229);
}

#cbporto {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: Roboto, sans-serif;
    color: rgb(33, 37, 41);
}
.filter {
    color: rgb(33, 37, 41);
}
.filter:hover {
    color: #3f4346;
}
.btn-hire-me {
    font-weight: 700;
    margin-top: 35px;
}

.btn-read {
    font-weight: 700;
    font-family: Roboto, sans-serif;
    color: rgb(255, 255, 255);
    background-color: #222222;
}
.btn-read:hover {
    font-weight: 700;
    font-family: Roboto, sans-serif;
    color: #222222;
    background-color: rgb(255, 255, 255);
}

.btn-hire {
    font-weight: 700;
    margin-left: 15px;
    padding: 13px;
    padding-top: 13px;
    padding-right: 30px;
    padding-left: 30px;
}

nav {
    border-bottom: black solid 2px;
    min-height: 95px;
}

nav > {
    border-bottom: black solid 2px;
    min-height: 95px;
}

.navcol-1 {
    font-family: Roboto, sans-serif;
}

.search_input {
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.fa-search {
    font-size: 16px;
}

.nav-link {
    font-size: 16px;
    padding-left: 8px;
}

.btn-contact {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 700;
}

#carousel-1 {
    background: rgb(34, 34, 34);
}

.kategori {
    display: block;
    padding: 2px;
    box-shadow: 2px 2px 30px #aaaaaa;
    border-radius: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.icon-kategori {
    width: 85%;
    margin: auto;
    padding: 18px;
}

.judul-portofolio {
    text-align: center;
    font-family: inherit;
    font-size: 24px;
    text-shadow: 5px 3px white;
    padding: 34px;
    text-transform: uppercase;
    font-weight: 800;
}

.kategori-icon {
    display: flex;
    margin: auto;
}

.btn-read-more {
    margin: auto;
    background-color: #242424;
    width: 30%;
    text-align: center;
    height: 8%;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Roboto ";
    padding: 4px;
    box-shadow: 4px 3px white;
    text-shadow: 2px 2px #505050;
}

.read-more {
    color: white;
}

.valign {
    margin-top: 50px;
}

.judul {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;
    text-align: center;
    font-family: "Roboto";
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 2px 2px #929292;
}

.testi {
    margin-top: 48px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

/*  Code By Webdevtrick ( https://webdevtrick.com )  */

.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ececec;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#testimonials-list .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190e7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#testimonials-list .item {
    text-align: center;
    padding: 10px;
    margin-bottom: 8px;
    opacity: 0.2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
    margin-bottom: 20px;
}

#testimonials-list .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-item img {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    max-width: 120px;
    margin: 0 auto 17px;
}

#testimonials-list.owl-carousel .owl-dots .owl-dot.active span,
#testimonials-list.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3f4346;
    -webkit-transform: translate3d(0px, -50%, 0px) scale(0.7);
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#testimonials-list.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#testimonials-list.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

#testimonials-list.owl-carousel .owl-dots .owl-dot span {
    background: #2f2f2f;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    -webkit-transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}

.img-testi-wrap {
    margin-top: -20%;
}
